
@font-face {
    font-family: 'TT Lakes-Thin';
    src: url(../fonts/TTLakes-Thin.woff);
    font-weight: normal;
    font-style: normal;
    }

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "TT Lakes-Thin", "Arial", sans-serif;
  font-size: 0.875rem;
  min-width: 320px;
  background-color: #f8f8f8;
  margin:0px;
}




.header {
  border-bottom: 1px solid #d9fff5;
  background-color: #ffffff;
  min-width: 320px;
  top: 0;
  width: 100%;
}



.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18.5px 16px;
}




.header__left {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__item-burger {
  background-image: url(../assets/img/burger.svg)
}

.header__divider1 {
  background-color: #eaeaea;
  width: 2px;
  height: 32px;
  margin: 0 20px;
}


.header__divider2 {
  background-color: #eaeaea;
  width: 2.5px;
  height: 32px;
  margin-left: 16.5px;
  margin-right: 0 20px;
  align-self:center
}


.header__item{
    width: 40px;
    height:40px;
    border-radius: 50%;
    border: none;
}

.header__buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 100px;
    height: 40px;
    margin-left: auto;
}

.header__buttons-hidden {
    display: flex;
}


.header__item--call {
  background-image: url(../assets/img/call.svg);
    margin-right: 16px;
}

.header__item--chat {
  background-image: url(../assets/img/chat.svg);
    margin-right: 16px;
}

.header__item--profile {
  background-image: url(../assets/img/profile.svg);
}


.header__button-active {
    display: flex;
}

.header__divider2 {
    margin: 0 20px;
}

.header__item--repair {
  background-image: url(../assets/img/repair.svg);
    margin-right: 16px;
}

.header__item--check-status {
  background-image: url(../assets/img/checkstatus.svg);
}

menu {
  margin-bottom: 11px;
  background-color: #f8f8f8;
  overflow-x: hidden;
  padding-left: 0;
}


.content-menu__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 0 16px 0px 16px;
  background-color: #f8f8f8;
  list-style-type: none;
  white-space: nowrap;
  letter-spacing: -0.2px;
    margin:0;
}

.content-menu__nav::-webkit-scrollbar {
  background-color: #f8f8f8;
}

.content-menu__title {
  margin: 0;
  padding:0;
  padding: 24px 16px;
}

.content-menu__title:before {
  content: "";
  position: absolute;
  left: 0px;
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.content-menu__item {
  padding: 8px 16px;
  font-size: 1.1429rem;
  letter-spacing: -0.2px;
  color: #7e7e82;
  border-radius: 6px;
}


.content-menu__item--active {
  background-color: #ffffff;
  border: 2px solid #b8ffec;
}
.content-menu__item:hover {
  color: #FF3E79;
  
}

.content-menu__link {
  text-decoration: none;
  color: #7e7e82;
}

.content-menu__link:hover {
  color: #FF3E79;
  transition: color 0.4s;
}

.content-menu__nav-container {
    position: relative;
    z-index: 1;
}

.fader-section{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.fade-right {
    top: 0;
    right: 0;
    background: linear-gradient(270deg,#f8f8f8 17%,hsla(0,0%,97.3%,0));
    position: absolute;
    height: 100%;
    width: 24px;
    z-index: 5;

}

.fade-left {
    top: 0;
    left: 0;
    background:linear-gradient(90deg,#f8f8f8 17%,hsla(0,0%,97.3%,0));
    position: absolute;
    height: 100%;
    width: 24px;
    z-index: 5;

}

.article {
  display: flex;
  flex-direction: column;
  padding: 0;
  color: #1b1c21;
  line-height: 18px;
}

.article__text {
    margin-top: 5px;
    padding: 0 16px 0px 16px;
}


.article__img {
  align-self: center;
  padding:12.5px 0px 0px 0px;

}

.button--read-more {
  position: relative;
  background-color: #f8f8f8;
  margin: 10px 0px;
  padding-left: 16px;
  margin-left: 0.5714rem;
  font-family: inherit;
  border: none;
  line-height: 24px;
  font-size: 1.1429rem;
}



.button__icon {
  display: inline-block;
  background-image: url(../assets/img/icon.svg);
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
  margin-right: 8px;
}

.button--read-more-text:hover {
  cursor: pointer;
  color:#FF3E79;
  transition: color 0.4s;
}
.button--read-more:hover{
  cursor: pointer;
}




@media screen and (max-width:767px) {
    
    .header__text{
      display: none;
    }

    .hidden {
        display: none;
    }
    .header__logo {
        margin-left: 16px;
    }

    .header__divider2 {
        margin-left: 0px;
        margin-right:16px;
    }

    .article__text-second {
    display: none;
}

  .article__text-third {
    display:none;
}
  .header__item--repair-text{
    display: none;

  }
  .header__item--check-status-text{
    display: none;
  }

}



@media screen and (min-width: 768px) and (max-width: 1119.99px) {

    .header__text{
    display: none;
  }
    .header__desktop {
        display: none;
    }

    .article__text-third {
    display:none;
}
    .article {
        flex-direction: row;
        justify-content: flex-start;

    }

     .content {
    padding-left: 24px;
    padding-right: 24px;
    line-height: 20px;
  }
    .article__text {
        margin-right: 48px;
    }

     .article__img-photo {
    border-radius: 2%;
  }

    .article__img {
     min-width: 360px;
    }
    .header__item--repair-text{
      display: none;
  
    }
    .header__item--check-status-text{
      display: none;
    }
}

@media screen and (min-width: 1120px) {


    .header__container{
      padding: 0;
    }
    .header__item-mobile{
      display: none;
    }


    .header{
         display: block;
         padding: 42px 25px 10px 25px;
         max-width: 1700px;
       margin-left: auto;
        margin-right: auto;
        background-color: #f8f8f8;
        border-bottom: none;
    }

    .header__button-active {
    display: flex;
    justify-content: space-between;
    max-height: 40px;
    align-items: center;

  }

  .header__link-desktop{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .header__item--repair-text{
    margin-right: 8px;
  }
  
    .header__text::before {
    content: "";
    position: absolute;
    left: 0px;
    width: 3px;
    height: 40px;
    background-color: #41f6d7;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
  }
  .header__item--check-status-text{
    margin-right: 8px;
  }

    .header__text {
        font-size: 2rem;
        line-height: 2.85714rem;
        font-style: normal;
        font-weight: 700;
    }

 .header__item--repair {
    margin-right:32px;
}

.header__item--repair:hover {
cursor: pointer;
}


.header__item--repair-text:hover{
  color: #FF3E79;
  transition: color 0.4s;
}
.header__item--check-status-text:hover{
  color: #FF3E79;
  transition: color 0.4s;
}
 .header__item--check-status{
    padding-right: 0;
 }

  .header__item--check-status:hover{
    cursor: pointer;

  }

     .header__link {
    text-decoration: none;
    color: #1b1c21;
    align-content: center;
    margin: auto;
    padding-right: 10px;
    align-self: center;
  }
    .content-menu__title {
        display: none;
    }

    .content {
    padding-top: 0;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }


    .content-menu__nav {
        flex-wrap: wrap;
        padding-left: 0;
        margin-left: 28px;
    }

    .article{
        flex-direction: row;
    justify-content: flex-start;
    line-height: 20px;
    margin-left: 18px;
    }

    .article__img-photo {
    border-radius: 2%;
    min-width: 530px;
    margin-right: 28px;

  }

  

    
    .article__text-second {
        display: inline-block;
        margin:0;
    }

    .fade-left{
      display: none;
    }


}
